<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../static/elements/Head.html :: head" xmlns:th="http://www.w3.org/1999/xhtml"></head>
<div th:replace="../static/elements/Nav.html :: nav" xmlns:th="http://www.w3.org/1999/xhtml"></div>

<!-- Content Here!!! -->
<h3> Here is a list of your past voting:</h3>

<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Vote Name</th>
            <th>Vote!</th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${finishedVotes.isEmpty()}">
            <td colspan="2"> No Current Votes </td>
        </tr>

        <span th:each="vote : ${finishedVotes}">

            <tr>
                  <td th:text="${vote.name}">Vote Name</td>
                  <td th:text="${vote.getVoteEnd()}"></td>
            </tr>

             <tr th:each="option : ${vote.voteOptions}">
            <td th:text="${option.name}">Vote Name</td>
            <td th:text="${option.votesNumber}"></td>
             </tr>

        <span/>

        </tbody>
    </table>

</div>

<div th:replace="../static/elements/Footer.html :: footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>

</html>